body {
    font-family: 'Montserrat', sans-serif;
}

.hero-bg {
    background-image: url('../img/Sections background/section-1(header).jpg');
    width: 100%;
    /*height: 1012px;*/
    margin-bottom: 8px;
    padding-bottom: 243px;
}


.container {
    margin: 0 auto;
    width: 1160px;
}

.header{
    border-top: 4px solid #9E9F9B;
    background-color: rgba(94, 93, 88, 0.6);
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-bg {
    clip-path: polygon(0 27%, 52% 0, 100% 26%, 100% 71%, 51% 100%, 0 71%);
    background-color: #18CFAB;
    width: 60px;
    position: relative;
    height: 70px;
    display: inline-block;
}

.bg-text {
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 40px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.logo-text{
    margin-left: 5px;
    color: white;
    font-size: 32px;
}

.logo-text:last-child {
    margin: 0;
    font-weight: bold;
    color: #18CFAB;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-list {
    display: inline-flex;
    align-items: center;
}

.nav-item {
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 50px 0;
    color: white;
    border-bottom: 2px solid transparent;
    opacity: 0.6;
    font-weight: bold;
    font-size: 16px;
}

.nav-item:hover {
    border-bottom: 2px solid #18CFAB;
    color: #18CFAB;
    opacity: 1;

}

.search-icon {
    display: inline-block;
}

.hero-content {
    margin-top: 260px;
}

.hero-text-content {
    text-align: center;
    margin-bottom: 135px;
}


.hero-text {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-btns {
    display: flex;
    justify-content: center;
    margin-bottom: 250px;
}

.btn {
    outline: none;
    padding: 20px;
    text-transform: uppercase;
    background-color: #18CFAB;
    margin-right: 13px;
    margin-left: 13px;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 -5px 0 0 white;
    cursor: pointer;
}

.btn:nth-child(2) {
    background-color: #00CBF6;
    padding: 20px 10px;
}

.description-block {
    display: flex;

}

.block-item {
    width: 25%;
    height: 380px;
    background-color: #1C2A33;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: #18CFAB;
}

.block-item:nth-child(2n) {
    background-color: #18CFAB;
    color: white;
}

.block-svg {
    margin-top: 100px;
}

.block-text {
    position: absolute;
    font-size: 20px;
    bottom: 110px;
    text-transform: uppercase;
    font-weight: bold;
}

.services-tab {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 100px;
}

.div-content-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-title {
    color: #4E4E4E;
    text-transform: capitalize;
    font-size: 36px;
}

.content-title:after {
    content: '';
    display: block;
    margin: 30px auto 70px ;
    width: 78px;
    height: 3px;
    background-color: #18CFAB;
    box-shadow: 16px 8px 0 0 #18CFAB;
}

.services-nav-sections {
    display: flex;
    flex-direction: column;
}

.services-nav-bar {
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.services-nav-list {
    display: inline-flex;
    align-items: center;
}


.services-nav-item {
    color: #717171;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #EDEFEF;
    background-color: #F8FCFE;
    width: 190px;
    height: 70px;
    cursor: pointer;
}

.services-nav-item:hover {
    border: 2px solid #18CFAB;
}

.active-btn{
    border: 2px solid #18CFAB;
    position: relative;
    color: #fff;
    background: #18CFAB;
}
.active-btn:after {
    content: "";
    position: absolute;
    left: 80px;
    top: 70px;
    border: 20px solid transparent;
    border-top: 20px solid #18CFAB;
}

.services-content {
    margin-top: 30px;
}

.services-content-item {
    display: none;
}

.services-content-item:first-child {
    display: flex;
}

.services-item-img {
    margin-right: 15px;
    height: 206px;
}

.services-item-p {
    font-weight: 300;
    font-size: 14px;
    color: #777777;
    line-height: 24px;
}

.inset {
    background-image: url('../img/Sections background/inset-bg.jpg');
    display: flex;
    align-items: center;
    padding: 125px 0 125px;
}

.inset>.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inset-title {
    font-size: 40px;
    color: #18CFAB;
    font-weight: bold;
}

.inset-text {
    color: #D8D8D8;
    font-size: 16px;
    margin-top: 12px;
}

.inset>.container>.btn {
    margin-top: 67px;

}

.works-section {
    background-color: #E9EDEF;
    padding-top: 95px;
    padding-bottom: 100px;
}

.works-nav {
    display: flex;
    justify-content: center;
}

.works-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hidden-item {
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.works-item {
    color: #717171;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DADADA;
    padding: 25px 20px;
    cursor: pointer;
    margin-bottom: 70px;
}



.works-item-active {
    border: 1px solid #18CFAB;
}

.works-img-div {

}

.works-img-item {
    /*display: flex;*/
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #E9EDEF;
    border-top: 4px solid #18CFAB;
}

.overlay-svg-item {
    display: flex;
    justify-content: space-between;
    margin: 40px auto 0;
    width: 90px;
}

.overlay-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #18CFAB;
}

.overlay-svg svg {
    width: 15px;
    height: 15px;
}

.overlay-svg:hover {
    background-color: #18CFAB;
}

.overlay-svg:hover .svg rect {
    fill: white;
}

.overlay-svg:hover .svg path {
    fill: white;
}

.overlay-text-item {
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.overlay-text {
    font-size: 15px;
    color: #18CFAB;
    font-weight: bold;
    text-transform: uppercase;
}

.overlay-text-item .overlay-text:nth-child(2) {
    font-size: 12px;
    font-weight: 300;
    color: #8a8a8a;
    margin-top: 10px;
    text-transform: capitalize;
}

.works-img-item:hover .overlay {
    opacity: 1;
}

.load-more-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

#loadMore {
    padding: 22px 15px 22px 55px;
    background-color: #18CFAB;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    outline: none;
    border-radius: 5px;
    position: relative;
}

#loadMore:before {
    content: url("../svg/plus.svg");
    position: absolute;
    left: 16%;
}

.news {
    margin-top: 80px;
}

.news-img-div {

}

.news-img-item {
    margin-right: 30px;
    margin-bottom: 40px;
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.news-img-item:nth-child(4n) {
    margin-right: 0;
}

.news-img-item:hover>.news-date {
    background-color: #18CFAB;
}

.news-img-item:hover>.news-text {
    color: #18CFAB;
}

.news-img {
    margin-bottom: 10px;
}

.news-date {
    width: 70px;
    height: 70px;
    background-color: #203E38;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    text-align: center;
}

.news-text {
    font-weight: bold;
    font-size: 18px;
    color: #717171;
    margin-bottom: 5px;
}

.news-span {
    font-weight: 300;
    font-size: 14px;
    color: #777777;
}

.news-span:nth-child(1):after {
    content: '';
    border-right: 1px solid #777777;
    margin-left: 15px;
    margin-right: 15px;
}

.slider-section {
    background-image: url('../img/Sections background/section-3.jpg');
    padding-bottom: 100px;
}

.slider-section>.container>.div-content-title {
    padding-top: 100px;
}

.slider-section>.container>.div-content-title>.content-title {
    color: #ffffff;
}

.quotes {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.text-slider-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-slider-item>.photo-slider-img {
    margin-top: 40px;
    margin-bottom: 60px;
    width: 143px;
    height: 143px;
}

.slider-item-text {
    font-weight: 300;
    font-size: 16px;
    color: #BBBBBB;
}


.slider-item-sign {
    font-weight: bold;
    font-size: 16px;
    color: #18CFAB;
    text-transform: uppercase;
    margin-top: 37px;
    margin-bottom: 15px;
}

.photo-slider {
    width: 480px;
    margin: 0 auto;
    position: relative;
    padding: 0 50px;
}

.photo-slider-item {
    height: 100px;
}

.photo-slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
}

.photo-slider .slick-arrow.slick-prev {
    left: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #BBBBBB;
}

.photo-slider .slick-arrow.slick-next {
    right: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #BBBBBB;
}

.photo-slider .slick-arrow.slick-prev:hover {
    background-color: #18CFAB;
    border: 1px solid transparent;
}

.photo-slider .slick-arrow.slick-next:hover {
    background-color: #18CFAB;
    border: 1px solid transparent;
}

/*.photo-slider .slick-current {*/
/*    margin-bottom: 10px;*/
/*}*/

.photo-slider .photo-slider-item {
    display: inline-block;
    margin: 0 100px;
    position: relative;
}


.photo-slider-item .photo-slider-img {
    width: 70px;
    height: 70px;

}



.slick-current .slider-img {
    position: absolute;
    bottom: 30px;
}


.photo-slider-img {
    border-radius: 50%;
    border: 5px solid rgba(31,218,181,0.2);
}







footer {
    height: 120px;
    width: 100%;
    background-color: #22353F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    font-weight: 300;
    font-size: 14px;
    color: #18CFAB;
    cursor: default;
}

footer>.footer-text:last-child {
    color: #AEAEAE;
}

.large {
    font-size: 78px;
}

.thin {
    font-weight: normal;
    color: #D4D4D4;
    text-transform: capitalize;
}





.change-color {
    color: #18CFAB;

}
